/* ---------- plus pics -----------*/

.pluspics li {
	position: relative;
	float: left;
	}
	
.pluspics li a span {
	position: absolute;
	display:block;
	overflow: hidden;
	width: 238px;
	height: 140px;
	padding: 3px;
	background-color: #fff;
	}
	
.pluspics li a {
	display:block;
	}
	
.pluspics li a:hover span.hover {
	padding: 2px;
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
	
.pluspics li img {
	position: absolute;
	top:50%;
  	left:50%;
  	display: none;
	}

#pluspic-0  {
	margin-right: 6px;
	width: 390px;
	height: 280px;
	}
		
#pluspic-0 a span {
	width: 390px;
	height: 280px;
	z-index: 0;
	}
	
#pluspic-2  {
	top:140px;
	}