/* ---------- plus pics -----------*/

#container-id .pluspics {
	width: 940px;
	}

#container-id .pluspics li {
	position: relative;
	float: left;
	width: 188px;
	height: 125px;
	}
	
#container-id .pluspics li a span {
	position: absolute;
	display:block;
	overflow: hidden;
	width: 188px;
	height: 125px;
	padding: 6px;
	background-color: #fff;
	}
	
#container-id .pluspics li a {
	display:block;
	}
	
#container-id .pluspics li a:hover span.hover {
	padding: 5px;
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
	
#container-id .pluspics li img {
	position: absolute;
	top:50%;
  	left:50%;
  	display: none;
}